{% extends 'base.html.twig' %}

{% block title %}Medicament index{% endblock %}

{% block body %}
    <h1>Medicament index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>MedDepotlegal</th>
                <th>MedNomcommercial</th>
                <th>FamCode</th>
                <th>MedComposition</th>
                <th>MedEffets</th>
                <th>MedContreindic</th>
                <th>MedPrixechantillon</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medicament in medicaments %}
            <tr>
                <td>{{ medicament.medDepotlegal }}</td>
                <td>{{ medicament.medNomcommercial }}</td>
                <td>{{ medicament.famCode }}</td>
                <td>{{ medicament.medComposition }}</td>
                <td>{{ medicament.medEffets }}</td>
                <td>{{ medicament.medContreindic }}</td>
                <td>{{ medicament.medPrixechantillon }}</td>
                <td>
                    <a href="{{ path('medicament_show', {'medDepotlegal': medicament.medDepotlegal}) }}">show</a>
                    <a href="{{ path('medicament_edit', {'medDepotlegal': medicament.medDepotlegal}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('medicament_new') }}">Create new</a>
{% endblock %}
