{% extends 'base.html.twig' %}

{% block title %}Posseder{% endblock %}

{% block body %}
    <h1>Posseder</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>PraNum</th>
                <td>{{ posseder.praNum }}</td>
            </tr>
            <tr>
                <th>SpeCode</th>
                <td>{{ posseder.speCode }}</td>
            </tr>
            <tr>
                <th>PosDiplome</th>
                <td>{{ posseder.posDiplome }}</td>
            </tr>
            <tr>
                <th>PosCoefprescription</th>
                <td>{{ posseder.posCoefprescription }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('posseder_index') }}">back to list</a>

    <a href="{{ path('posseder_edit', {'praNum': posseder.praNum}) }}">edit</a>

    {{ include('posseder/_delete_form.html.twig') }}
{% endblock %}
