{% extends 'base.html.twig' %}

{% block title %}Constituer index{% endblock %}

{% block body %}
    <h1>Constituer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>MedDepotlegal</th>
                <th>CmpCode</th>
                <th>CstQte</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for constituer in constituers %}
            <tr>
                <td>{{ constituer.medDepotlegal }}</td>
                <td>{{ constituer.cmpCode }}</td>
                <td>{{ constituer.cstQte }}</td>
                <td>
                    <a href="{{ path('constituer_show', {'medDepotlegal': constituer.medDepotlegal}) }}">show</a>
                    <a href="{{ path('constituer_edit', {'medDepotlegal': constituer.medDepotlegal}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('constituer_new') }}">Create new</a>
{% endblock %}
