{% extends 'base.html.twig' %}

{% block title %}Constituer{% endblock %}

{% block body %}
    <h1>Constituer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>MedDepotlegal</th>
                <td>{{ constituer.medDepotlegal }}</td>
            </tr>
            <tr>
                <th>CmpCode</th>
                <td>{{ constituer.cmpCode }}</td>
            </tr>
            <tr>
                <th>CstQte</th>
                <td>{{ constituer.cstQte }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('constituer_index') }}">back to list</a>

    <a href="{{ path('constituer_edit', {'medDepotlegal': constituer.medDepotlegal}) }}">edit</a>

    {{ include('constituer/_delete_form.html.twig') }}
{% endblock %}
