{% extends 'base.html.twig' %}

{% block title %}TypeIndividu index{% endblock %}

{% block body %}
    <h1>TypeIndividu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>TinCode</th>
                <th>TinLibelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_individu in type_individus %}
            <tr>
                <td>{{ type_individu.tinCode }}</td>
                <td>{{ type_individu.tinLibelle }}</td>
                <td>
                    <a href="{{ path('type_individu_show', {'tinCode': type_individu.tinCode}) }}">show</a>
                    <a href="{{ path('type_individu_edit', {'tinCode': type_individu.tinCode}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_individu_new') }}">Create new</a>
{% endblock %}
