{% extends 'base.html.twig' %}

{% block title %}TypeIndividu{% endblock %}

{% block body %}
    <h1>TypeIndividu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>TinCode</th>
                <td>{{ type_individu.tinCode }}</td>
            </tr>
            <tr>
                <th>TinLibelle</th>
                <td>{{ type_individu.tinLibelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_individu_index') }}">back to list</a>

    <a href="{{ path('type_individu_edit', {'tinCode': type_individu.tinCode}) }}">edit</a>

    {{ include('type_individu/_delete_form.html.twig') }}
{% endblock %}
