{% extends 'base.html.twig' %}

{% block title %}Interagir{% endblock %}

{% block body %}
    <h1>Interagir</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>MedPerturbateur</th>
                <td>{{ interagir.medPerturbateur }}</td>
            </tr>
            <tr>
                <th>MedMedPerturbe</th>
                <td>{{ interagir.medMedPerturbe }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('interagir_index') }}">back to list</a>

    <a href="{{ path('interagir_edit', {'medPerturbateur': interagir.medPerturbateur}) }}">edit</a>

    {{ include('interagir/_delete_form.html.twig') }}
{% endblock %}
