{% extends 'base.html.twig' %}

{% block title %}Offrir index{% endblock %}

{% block body %}
    <h1>Offrir index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>VisMatricule</th>
                <th>RapNum</th>
                <th>MedDepotlegal</th>
                <th>OffQte</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offrir in offrirs %}
            <tr>
                <td>{{ offrir.visMatricule }}</td>
                <td>{{ offrir.rapNum }}</td>
                <td>{{ offrir.medDepotlegal }}</td>
                <td>{{ offrir.offQte }}</td>
                <td>
                    <a href="{{ path('offrir_show', {'visMatricule': offrir.visMatricule}) }}">show</a>
                    <a href="{{ path('offrir_edit', {'visMatricule': offrir.visMatricule}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('offrir_new') }}">Create new</a>
{% endblock %}
