{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block body %}
    <h1>Presentation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>PreCode</th>
                <td>{{ presentation.preCode }}</td>
            </tr>
            <tr>
                <th>PreLibelle</th>
                <td>{{ presentation.preLibelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('presentation_index') }}">back to list</a>

    <a href="{{ path('presentation_edit', {'preCode': presentation.preCode}) }}">edit</a>

    {{ include('presentation/_delete_form.html.twig') }}
{% endblock %}
