{% extends 'base.html.twig' %}

{% block title %}Prescrire{% endblock %}

{% block body %}
    <h1>Prescrire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>MedDepotlegal</th>
                <td>{{ prescrire.medDepotlegal }}</td>
            </tr>
            <tr>
                <th>TinCode</th>
                <td>{{ prescrire.tinCode }}</td>
            </tr>
            <tr>
                <th>DosCode</th>
                <td>{{ prescrire.dosCode }}</td>
            </tr>
            <tr>
                <th>PrePosologie</th>
                <td>{{ prescrire.prePosologie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('prescrire_index') }}">back to list</a>

    <a href="{{ path('prescrire_edit', {'medDepotlegal': prescrire.medDepotlegal}) }}">edit</a>

    {{ include('prescrire/_delete_form.html.twig') }}
{% endblock %}
