{% extends 'base.html.twig' %}

{% block title %}Realiser index{% endblock %}

{% block body %}
    <h1>Realiser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>AcNum</th>
                <th>VisMatricule</th>
                <th>ReaMttfrais</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for realiser in realisers %}
            <tr>
                <td>{{ realiser.acNum }}</td>
                <td>{{ realiser.visMatricule }}</td>
                <td>{{ realiser.reaMttfrais }}</td>
                <td>
                    <a href="{{ path('realiser_show', {'acNum': realiser.acNum}) }}">show</a>
                    <a href="{{ path('realiser_edit', {'acNum': realiser.acNum}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('realiser_new') }}">Create new</a>
{% endblock %}
