{% extends 'base.html.twig' %}

{% block title %}Travailler index{% endblock %}

{% block body %}
    <h1>Travailler index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>VisMatricule</th>
                <th>Jjmmaa</th>
                <th>RegCode</th>
                <th>TraRole</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for travailler in travaillers %}
            <tr>
                <td>{{ travailler.visMatricule }}</td>
                <td>{{ travailler.jjmmaa ? travailler.jjmmaa|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ travailler.regCode }}</td>
                <td>{{ travailler.traRole }}</td>
                <td>
                    <a href="{{ path('travailler_show', {'visMatricule': travailler.visMatricule}) }}">show</a>
                    <a href="{{ path('travailler_edit', {'visMatricule': travailler.visMatricule}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('travailler_new') }}">Create new</a>
{% endblock %}
