{% extends 'base.html.twig' %}

{% block title %}Travailler{% endblock %}

{% block body %}
    <h1>Travailler</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>VisMatricule</th>
                <td>{{ travailler.visMatricule }}</td>
            </tr>
            <tr>
                <th>Jjmmaa</th>
                <td>{{ travailler.jjmmaa ? travailler.jjmmaa|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>RegCode</th>
                <td>{{ travailler.regCode }}</td>
            </tr>
            <tr>
                <th>TraRole</th>
                <td>{{ travailler.traRole }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('travailler_index') }}">back to list</a>

    <a href="{{ path('travailler_edit', {'visMatricule': travailler.visMatricule}) }}">edit</a>

    {{ include('travailler/_delete_form.html.twig') }}
{% endblock %}
