{% extends 'base.html.twig' %}

{% block title %}Praticiens{% endblock %}

{% block body %}

<div class="container">
		
		{#
		<form action="{{ path('praticien') }}" method="get">
			<label for="filter">TypeCode</label>
			<input name="filter" type="text">
			<button type="submit" class="btn btn-primary btn-sm">Rechercher</button>
		</form>
		#}        
        <table id="table_id" class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"{% if praticiens.isSorted('s.praNom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(praticiens, 'Nom', 's.praNom')| raw }}</th>      
                    <th scope="col"{% if praticiens.isSorted('s.praVille') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(praticiens, 'Ville', 's.praVille')| raw }}</th>
                    <th scope="col"{% if praticiens.isSorted('s.typCode') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(praticiens, 'Type', 's.typCode')| raw }}</th>
               		<th scope="col">Action</th>
                </tr>
            </thead>
            
            <tbody>
            {% for p in praticiens %}
               	   <tr>
                    	<td>{{ p.PraNom }}</td>      		
                   		<td>{{ p.getPraVille }}</td>
                    	<td>{{ p.getTypCode }}</td>
                    	<td><a href="{{ path('details', {'id':p.praNum}) }}" class="btn btn-secondary" > Details</a></td>
                    </tr> 
    		{% endfor %}
            <tbody>
            <tfoot>
            	<tr>
            		 <th scope="col">
            		 	<form action="{{ path('praticien') }}" method="get">
            		 		<input class="form-control mr-sm-2" name="filter3" type="text" placeholder="Nom">
						</form>
        			</th>
            		 <th scope="col">
            		 	<form action="{{ path('praticien') }}" method="get">
            		 		<input class="form-control mr-sm-2" name="filter2" type="text" placeholder="Ville">
						</form>
        			</th>
            		 <th scope="col">
            		 	<form action="{{ path('praticien') }}" method="get">
            		 		<input class="form-control mr-sm-2" name="filter" type="text" placeholder="Type">
						</form>
        			</th>
        			<th></th>
        		</tr>
        	</tfoot>
		</table>
		<div class="button">
            {{ knp_pagination_render(praticiens) }}
        </div> 
	</div>
{% endblock %}
