{% extends 'base.html.twig' %}

{% block title %}Praticiens{% endblock %}

{% block body %}

<div class="container">        
        <table id="table_id" class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Code Postale</th>
                    <th scope="col">Coeff. Notoriete</th>
                    <th scope="col">Type</th>
                </tr>
            </thead>
            
            <tbody>
            {% for p in praticiens %}
               	   <tr class="table-active">
                    	<td>{{ p.getPraNom }}</td>
                   		<td>{{ p.getPraPrenom }}</td>
                    	<td>{{ p.getPraAdresse }}</td>
                   		<td>{{ p.getPraVille }}</td>
                    	<td>{{ p.getPraCp }}</td>
                    	<td>{{ p.getPraCoefnotoriete }}</td>
                    	<td>{{ p.getTypCode }}</td>
                    </tr> 
    		{% endfor %}
            <tbody>
        
		</table> 
	</div>
{% endblock %}
