{% extends 'base.html.twig' %}

{% block title %}Formuler{% endblock %}

{% block body %}
    <h1>Formuler</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>MedDepotlegal</th>
                <td>{{ formuler.medDepotlegal }}</td>
            </tr>
            <tr>
                <th>PreCode</th>
                <td>{{ formuler.preCode }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formuler_index') }}">back to list</a>

    <a href="{{ path('formuler_edit', {'medDepotlegal': formuler.medDepotlegal}) }}">edit</a>

    {{ include('formuler/_delete_form.html.twig') }}
{% endblock %}
