{% extends 'base.html.twig' %}

{% block title %}Composant index{% endblock %}

{% block body %}
    <h1>Composant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>CmpCode</th>
                <th>CmpLibelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for composant in composants %}
            <tr>
                <td>{{ composant.cmpCode }}</td>
                <td>{{ composant.cmpLibelle }}</td>
                <td>
                    <a href="{{ path('composant_show', {'cmpCode': composant.cmpCode}) }}">show</a>
                    <a href="{{ path('composant_edit', {'cmpCode': composant.cmpCode}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('composant_new') }}">Create new</a>
{% endblock %}
