{% extends 'base.html.twig' %}

{% block title %}SwitchboardItems index{% endblock %}

{% block body %}
    <h1>SwitchboardItems index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Switchboardid</th>
                <th>Itemnumber</th>
                <th>Itemtext</th>
                <th>Command</th>
                <th>Argument</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for switchboard_item in switchboard_items %}
            <tr>
                <td>{{ switchboard_item.switchboardid }}</td>
                <td>{{ switchboard_item.itemnumber }}</td>
                <td>{{ switchboard_item.itemtext }}</td>
                <td>{{ switchboard_item.command }}</td>
                <td>{{ switchboard_item.argument }}</td>
                <td>
                    <a href="{{ path('switchboard_items_show', {'switchboardid': switchboard_item.switchboardid}) }}">show</a>
                    <a href="{{ path('switchboard_items_edit', {'switchboardid': switchboard_item.switchboardid}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('switchboard_items_new') }}">Create new</a>
{% endblock %}
