{% extends 'base.html.twig' %}

{% block title %}Compte-Rendus{% endblock %}

{% block body %}



<div class="container">   
        <table id="table_id" class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"{% if rapport.isSorted('r.rapNum') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(rapport, 'Numero', 'r.rapNum')| raw }}</th>      
                    <th scope="col"{% if rapport.isSorted('r.praNum') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(rapport, 'Praticien', 'r.praNum')| raw }}</th>
                    <th scope="col"{% if rapport.isSorted('r.rapDate') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(rapport, 'Date', 'r.rapDate')| raw }}</th>
               		<th scope="col"{% if rapport.isSorted('r.rapBilan') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(rapport, 'Bilan', 'r.rapBilan')| raw }}</th>
               		<th scope="col"{% if rapport.isSorted('r.rapMotif') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(rapport, 'Motif', 'r.rapMotif')| raw }}</th>
               		<th scope="col">Action</th>
                </tr>
            </thead>
            
            <tbody>
            {% for rap in rapport %}
               	   <tr>
                    	<td>{{ rap.getRapNum }}</td>      		
                   		<td>{{ pra[rap.getPraNum] }}</td>
                    	<td>{{ rap.getRapDate|date("d/m/Y") }}</td>
                    	<td>{{ rap.getrapBilan }}</td>
                    	<td>{{ rap.getrapMotif }}</td>
                    	<td><a class="btn btn-secondary" href="{{ path('compte_rendu_show', {'id':rap.getRapNum}) }}"> Modifier</a></td>
                    </tr> 
    		{% endfor %}
            <tbody>
		</table>
		
		<div class="button">
            {{ knp_pagination_render(rapport) }}
        </div> 
        
        <a href="{{ path('compte_rendu_creation')}}" class="btn btn-primary" > Nouveau</a>
        
	</div>
{% endblock %}
